# Assignment4

## Q1

- Prepare model by using Naive Bayes,KNN and SVM & Also calculate Accuracy by confusion matrix, Calculate accuracy score, precision score, recall score, f1 score.

- Dataset : Claimants.csv

In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
cla = pd.read_csv('../claimants.csv')
cla.sample(5)

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
1199         0     1.0       1.0       0.0     NaN  4.673
227          0     0.0       1.0       0.0     7.0  0.640
180          1     0.0       0.0       0.0     8.0  1.667
1248         0     0.0       1.0       0.0    50.0  1.015
723          0     0.0       1.0       0.0    17.0  3.055

In [6]:
cla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1328 non-null   float64
 2   CLMINSUR  1299 non-null   float64
 3   SEATBELT  1292 non-null   float64
 4   CLMAGE    1151 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [5]:
cla.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
transformer = ColumnTransformer(
    transformers=[
    ('TF1',SimpleImputer(),['CLMAGE']),
    ('TF2',SimpleImputer(strategy='most_frequent'),['CLMSEX','CLMINSURE','SEATBELT'])]
)